.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loginContainer {
  width: 50% !important;
  height: 50% !important;
}

.loginContainer, .loginBox {
  text-align: center;
}

.loginBox {
  h3 {
    font-size: 1.4rem;
  }
}

.logo {
  width: 4rem;
  height: 4rem;
  img {
    width: 4rem;
    height: auto;
  }
}

.loginPaper {
  padding: 5rem 10rem;
}

.formContainer {
  margin-top: 2.4rem;
}

.formItem {
  margin: 1.2rem 0;
}